<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/select_teams_page.css') }}">
    <title>Select Teams</title>

    <script type="text/javascript">
        var myTeam = '';
        var opponentsTeam = '';

        function selectMyTeam(teamName, buttonId) {
            if (myTeam !== '') {
                document.getElementById(myTeam).classList.remove('team-selected-my');
            }
            myTeam = buttonId;
            document.getElementById(myTeam).classList.add('team-selected-my');
        }

        function selectOpponentsTeam(teamName, buttonId) {
            if (opponentsTeam !== '') {
                document.getElementById(opponentsTeam).classList.remove('team-selected-opponent');
            }
            opponentsTeam = buttonId;
            document.getElementById(opponentsTeam).classList.add('team-selected-opponent');
        }

        function compareTeams() {
            if (myTeam === '' || opponentsTeam === '') {
                alert('Please select both your team and the opponent\'s team.');
                return false;
            }
            var myTeamName = document.getElementById(myTeam).textContent;
            var opponentsTeamName = document.getElementById(opponentsTeam).textContent;
            document.getElementById('myTeamInput').value = myTeamName;
            document.getElementById('opponentsTeamInput').value = opponentsTeamName;

            // Show the loading overlay
            document.getElementById('loading').style.display = 'flex';

            // Submit the form
            document.getElementById('compareForm').submit();
        }

        // Hide the loading overlay when the page is loaded or revisited
        function hideLoading() {
            document.getElementById('loading').style.display = 'none';
        }

        window.onload = hideLoading;

        // This handles when the page is loaded from the cache (e.g., back button)
        window.onpageshow = function(event) {
            if (event.persisted) {
                hideLoading();
            } else {
                hideLoading();
            }
        };

        function selectWeek(weekNumber) {
            document.getElementById('selectedWeek').value = weekNumber;
            document.getElementById('weekButton').textContent = 'Week ' + weekNumber;
        }
    </script>

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EZ4LV1SKJ1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EZ4LV1SKJ1');
</script>

<body>
    <a id="back-button" href="{{ url_for('entry_page') }}" class="back-button">Back</a>    
    <div class="body-container" >
        <h1>Select Teams to Compare</h1>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="error-message">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        <div class="dropdown-container">
            <div class="dropdown">
                <button type="button" class="dropbtn" id="weekButton">Week {{ current_matchup }} (Hover to change)</button>
                <div class="dropdown-content">
                    {% for week_key, week_data in matchup_data_dict.items() %}
                    <a href="javascript:void(0)" onclick="selectWeek({{ week_data.matchup_period }})">
                        Week {{ week_data.matchup_period }} ({{ week_data.start_date }} to {{ week_data.end_date }})
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <form id="compareForm" action="/compare_page" method="post">
            <div class="main-container">
                <!-- Scoring area to the left -->
                {% if scoring_type == "H2H_POINTS" %}
                <div class="scoring-area">
                    <h2>Adjust Scoring for Stats</h2>
                    <div class="scoring-container">
                        <!-- Example for FGM -->
                        <div class="scoring-box">
                            <label for="fgm">Field Goals Made (FGM):</label>
                            <input type="text" id="fgm" name="fgm" value="{{ form_data.get('fgm', 2) }}">
                        </div>
                        <!-- Repeat for other scoring fields with form_data -->
                        <div class="scoring-box">
                            <label for="fga">Field Goals Attempted (FGA):</label>
                            <input type="text" id="fga" name="fga" value="{{ form_data.get('fga', -1) }}">
                        </div>
                        <div class="scoring-box">
                            <label for="ftm">Free Throws Made (FTM):</label>
                            <input type="text" id="ftm" name="ftm" value="{{ form_data.get('ftm', 1) }}">
                        </div>
                        <div class="scoring-box">
                            <label for="fta">Free Throws Attempted (FTA):</label>
                            <input type="text" id="fta" name="fta" value="{{ form_data.get('fta', -1) }}">
                        </div>
                        <div class="scoring-box">
                            <label for="threeptm">Three Pointers Made (3PTM):</label>
                            <input type="text" id="threeptm" name="threeptm" value="{{ form_data.get('threeptm', 1) }}">
                        </div>
                        <div class="scoring-box">
                            <label for="reb">Rebounds (REB):</label>
                            <input type="text" id="reb" name="reb" value="{{ form_data.get('reb', 1) }}">
                        </div>
                        <div class="scoring-box">
                            <label for="ast">Assists (AST):</label>
                            <input type="text" id="ast" name="ast" value="{{ form_data.get('ast', 2) }}">
                        </div>
                        <div class="scoring-box">
                            <label for="stl">Steals (STL):</label>
                            <input type="text" id="stl" name="stl" value="{{ form_data.get('stl', 4) }}">
                        </div>
                        <div class="scoring-box">
                            <label for="blk">Blocks (BLK):</label>
                            <input type="text" id="blk" name="blk" value="{{ form_data.get('blk', 4) }}">
                        </div>
                        <div class="scoring-box">
                            <label for="turno">Turnovers (TO):</label>
                            <input type="text" id="turno" name="turno" value="{{ form_data.get('turno', -2) }}">
                        </div>
                        <div class="scoring-box">
                            <label for="pts">Points (PTS):</label>
                            <input type="text" id="pts" name="pts" value="{{ form_data.get('pts', 1) }}">
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- Teams selection area -->
                <div class="teams-container">
                    <div class="team-column">
                        <div class="team-selector my-team">My Team</div>
                        {% for team in info_list %}
                        <button type="button" id="myTeam{{ loop.index }}" class="team-button" data-team-name="{{ team }}"
                            onclick="selectMyTeam(this.getAttribute('data-team-name'), 'myTeam{{ loop.index }}')">{{ team }}</button>
                        {% endfor %}
                    </div>

                    <div class="team-column">
                        <div class="team-selector opponents-team">Opponent's Team</div>
                        {% for team in info_list %}
                        <button type="button" id="opponentsTeam{{ loop.index }}" class="team-button" data-team-name="{{ team }}"
                            onclick="selectOpponentsTeam(this.getAttribute('data-team-name'), 'opponentsTeam{{ loop.index }}')">{{ team }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Hidden inputs for league details -->
            <input type="hidden" name="league_id" value="{{ league_id }}">
            <input type="hidden" name="year" value="{{ year }}">
            <input type="hidden" name="espn_s2" value="{{ espn_s2 }}">
            <input type="hidden" name="swid" value="{{ swid }}">
            <input type="hidden" name="scoring_type" value="{{ scoring_type }}">
            <input type="hidden" name="matchup_data_dict" value="{{ matchup_data_dict }}">

            <!-- Hidden inputs for selected teams -->
            <input type="hidden" id="myTeamInput" name="myTeam" value="">
            <input type="hidden" id="opponentsTeamInput" name="opponentsTeam" value="">

            <!-- Hidden input for week-->
            <input type="hidden" id="selectedWeek" name="week_num" value="{{ current_matchup }}">

            <!-- Submit button -->
            <button type="button" onclick="compareTeams()">Compare Teams</button>
        </form>

        <div id="loading">Loading, please wait... <br>    (About 10s)</div>
    </div>
</body>

</html>